<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sparshik.yogicapple">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!--
        This permission is not required for Firebase Storage and is only used to read
        files from the camera and upload them to Firebase Storage as a demonstration.
    -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <!--
         The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but you must specify either coarse or fine
         location permissions for the 'MyLocation' functionality. 
    -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:name=".YogicAppleApplication"
        android:allowBackup="true"
        android:configChanges="orientation|screenSize"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.main.MainActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustPan">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.main.MainActivity" />
        </activity>
        <activity
            android:name=".ui.login.LoginActivity"
            android:configChanges="orientation|screenSize|keyboardHidden">
            <intent-filter android:label="@string/app_name">
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.signup.CreateAccountActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="@string/title_activity_create_account"
            android:parentActivityName=".ui.login.LoginActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.login.LoginActivity" />
        </activity>
        <activity
            android:name=".ui.player.ExoPlayerActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_media_player"
            android:parentActivityName=".ui.main.MainActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.main.MainActivity" />
        </activity>
        <activity
            android:name=".ui.programs.ProgramsListActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/activity_title_programs"
            android:parentActivityName=".ui.main.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.main.MainActivity" />
        </activity>
        <activity
            android:name=".ui.packs.PacksListActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/activity_title_packs"
            android:parentActivityName=".ui.programs.ProgramsListActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.programs.ProgramsListActivity" />
        </activity>
        <activity
            android:name=".ui.groups.CreateGroupActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/activity_title_create_group"
            android:parentActivityName=".ui.groups.JoinGroupActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.groups.JoinGroupActivity" />
        </activity>
        <activity
            android:name=".ui.groups.JoinGroupActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/action_join_group"
            android:parentActivityName=".ui.groups.GroupsActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.groups.GroupsActivity" />
        </activity>
        <activity
            android:name=".ui.groups.GroupsActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_support_group"
            android:parentActivityName=".ui.main.MainActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.sparshik.yogicapple.ui.main.MainActivity" />
        </activity>
        <activity
            android:name=".ui.groups.GroupChatActivity"
            android:configChanges="orientation|screenSize"
            android:parentActivityName=".ui.groups.GroupsActivity"
            android:windowSoftInputMode="stateHidden">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.groups.GroupsActivity" />
        </activity>
        <activity android:name=".ui.groups.CreateChatProfileActivity" />

        <service
            android:name=".services.DownloadService"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.RESPOND_VIA_MESSAGE" />
            </intent-filter>
        </service>
        <service
            android:name=".services.YAFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service
            android:name=".services.YAFirebaseInstanceIdService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <!--
  Android N SDK has new restrictions around sharing file:// URIs
  https://developer.android.com/reference/android/support/v4/content/FileProvider.html#ProviderDefinition
        -->
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.google.firebase.quickstart.firebasestorage.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <!--
             The API key for Google Maps-based APIs is defined as a string resource.
             (See the file "res/values/google_maps_api.xml").
             Note that the API key is linked to the encryption key used to sign the APK.
             You need a different API key for each encryption key, including the release key that is used to
             sign the APK for publishing.
             You can define the keys for the debug and release targets in src/debug/ and src/release/. 
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".ui.events.EventsActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_events"
            android:parentActivityName=".ui.groups.GroupsActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.sparshik.yogicapple.ui.main.MainActivity" />
        </activity>
        <activity
            android:name=".ui.events.AddEventActivity"
            android:label="@string/title_activity_add_event" />
    </application>

</manifest>